<div class="bg-white border-l-4 border-[#A73121] shadow-md rounded-lg p-6 hover:shadow-lg transition-shadow duration-300">
    <div class="flex items-center space-x-4 animate-shine">
        <div class="bg-[#F2E8C6] p-3 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-[#952323]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
        </div>
        
        <div>
            <h5 class="text-sm text-[#952323]">{{ title }}</h5>
            <p class="text-lg font-bold text-[#A73121]">{{ value }}</p>
        </div>
    </div>
</div>
