{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f9f9f9;
        }

        .login {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
            text-align: center;
            font-size: 1.8em;
            margin-bottom: 20px;
        }

        form {
            width: 100%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        td {
            padding: 10px;
            font-size: 1em;
        }

        input[type="submit"] {
            background-color: #ff7c0a;
            color: white;
            padding: 10px 20px;
            font-size: 1em;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        input[type="submit"]:hover {
            background-color: #db8234;
        }

        ul {
            padding: 0;
            list-style-type: none;
            color: red;
            text-align: center;
            margin-top: 10px;
        }

        a {
            text-decoration: none;
            color: #ff7c0a;
            font-weight: bold;
        }

        a:hover {
            color: #db8234;
        }

        .register-link {
            text-align: center;
            margin-top: 20px;
        }

    </style>
{% endblock meta %}

{% block content %}
<div class="login">
  <h1>Login</h1>

  <form method="POST" action="">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td><input class="btn login_btn" type="submit" value="Login" /></td>
      </tr>
    </table>
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="register-link">
    Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
  </div>
</div>
{% endblock content %}
