{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
{% load static %}

<div class="grid grid-cols-1 sm:grid-cols-3 gap-6 mb-8 mt-10">
    {% include "card_info.html" with title='Nama Aplikasi' value=nama_aplikasi %}
    {% include "card_info.html" with title='Nama Mahasiswa' value=nama_mahasiswa %}
    {% include "card_info.html" with title='Kelas' value=nama_kelas %}
</div>

<div class="container mx-auto p-6">
    <div class="flex justify-center space-x-6 bg-white p-6 rounded-lg shadow-lg">
        <div class="bg-[#F2E8C6] rounded-lg overflow-hidden max-w-xs">
            <img src="{% static 'images/denim-shirt.png' %}" alt="Product Image" class="w-full h-54 object-cover" >
        </div>
        <div>
            <h5 class="text-xl font-bold mb-2 text-[#952323]">Name:</h5>
            <p>{{ name }}</p>

            <h5 class="text-xl font-bold mt-4 mb-2 text-[#952323]">Price:</h5>
            <p>Rp {{ price }}</p>

            <h5 class="text-xl font-bold mt-4 mb-2 text-[#952323]">Description:</h5>
            <p>{{ description }}</p>

            <h5 class="text-xl font-bold mt-4 mb-2">Size:</h5>
            <ul class="flex space-x-4">
                <li class="px-4 py-2 bg-gray-200 rounded-lg">S</li>
                <li class="px-4 py-2 bg-gray-200 rounded-lg">M</li>
                <li class="px-4 py-2 bg-gray-200 rounded-lg">L</li>
                <li class="px-4 py-2 bg-gray-200 rounded-lg">XL</li>
                <li class="px-4 py-2 bg-gray-200 rounded-lg">XXL</li>
            </ul>
        </div>
    </div>
</div>

<div class="flex justify-between mt-6">
    <a href="{% url 'main:create_product_rating' %}">
        <button class="bg-[#347928] hover:bg-[#185519] text-white py-2 px-4 rounded">Add New Rating</button>
    </a>

</div>

{% if not product_rating %}
<div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
    <img src="{% static 'images/sedih-banget.jpeg' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
    <p class="text-center text-gray-600 mt-4">Belum ada data mood pada mental health tracker.</p>
</div>
{% else %}
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
    {% for product in product_rating %}
        {% include 'card_rating.html' with product=product %}
    {% endfor %}
</div>
{% endif %}

<h5 class="text-gray-500 mt-6">Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}
